* {
  background-color: #272727;
  color: #DFDFDF;
  font-size: 18px;
  font-family: sans-serif;
}
canvas {
  border: none;
}
.top_bar_img {
  height: 5vh;
}
.top_bar_text {
  height: 4vh;
  margin: 0.5vh;
}