<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>HEIMDALL</title>
  <link rel="shortcut icon" href="/static/images/thorchain.ico"/>
  <meta name="description" content="HEIMDALL">
  <meta name="author" content="Wiktor Kisielewski">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div>
    <p>test chart</p>
    <canvas id="test_chart" width="200" height="450"></canvas>
    <button onclick="plot_it()" id="py_test">TEST</button>
  </div>
  <div> 
    <form method="post">
      <select name="data.pools" method="GET" id="pool_tickers">
        {% for pool in data.pools %}
        <option  value="{{pool}}">{{pool}}</option>"
        {% endfor %}
      </select>
      <select name="data.intervals" method="GET">
        {% for interval in data.intervals %}
        <option value="{{interval}}" SELECTED>{{interval}}</option>"
        {% endfor %}
      </select>
      <input type="submit">
    </form>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/static/pool_charts.js"></script>
</body>
</html>