<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>HEIMDALL</title>
  <link rel="shortcut icon" href="/static/images/thorchain.png"/>
  <meta name="description" content="HEIMDALL">
  <meta name="author" content="Wiktor Kisielewski">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body onload="plot_it({{data.dataset}})">
  <header>
    <a href="/">
      <img class="top_bar_img" src="/static/images/thorchain.png">
      <img class="top_bar_text" src="/static/images/heimdall_runes.png" alt="HEIMDALL">
    </a>
    <nav role="navigation">
      <div id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
          <a href="#"><li>Compare pools</li></a>
          <a href="#"><li>Pool datails</li></a>
        </ul>
      </div>
    </nav>
  </header>
  <canvas id="test_chart"></canvas>
  <div>
    <a href="/py_test">
      <button id="py_test">TEST</button>
    </a>
  </div>
  <div> 
    <form method="post">
      <select name="pool_select" method="GET">
        {% for pool in data.pools %}
        <option  value="{{pool}}">{{pool}}</option>"
        {% endfor %}
      </select>
      <select name="interval_select" method="GET">
        {% for interval in data.intervals %}
        <option value="{{interval}}" SELECTED>{{interval}}</option>"
        {% endfor %}
      </select>
      <input type="number" name="count_select"
       min="1" max="400" value="1">
      <input type="submit">
    </form>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/static/pool_charts.js"></script>
</body>
</html>